{% extends "base_site.html" %}
{% load i18n %}


{% block content %}
    <h4>{{ title }}</h4>
    {% if errorlist %}
        <div class="error">
            {{ errorlist }}
        </div>
    {% else %}
        {% if form and object %}
            <div class="row">
                <div class="span5"><a class="btn btn-info" href="{% url 'update-mo' object.id %}">
                    {% trans 'редактировать' %}</a></div>
                <div class="span5"><a class="btn btn-info" href="{% url 'add-agreement-mo' object.id %}">
                    {% trans 'Добавить соглашение с министерством' %}</a></div>
                <div class="right"><a class="btn btn-danger" href="{% url 'pre-delete-mo' object.id %}">
                    {% trans 'Удалить' %}</a></div>
            </div><br />
            <p class="blue">{% trans 'Общие параметры' %}</p>
            {% include "view_table.html" %}
            <p class="blue">{% trans ' Реквизиты соглашения с министерством' %}</p>
            {% for set in forms %}
                {% with set.dep_form as form %}
                    {% include "view_table.html" %}
                {% endwith %}
                {% with set.dep_form as form %}
                    {% include "view_table.html" %}
                {% endwith %}
                {% for form in set.formsets %}
                    <p class="blue">{% cycle titles.0 titles.1%}</p>
                    {% include "view_table.html" %}
                {% endfor %}
            {% endfor %}
            <br>
        {% endif %}
    {% endif %}
{% endblock %}
