{% extends "base_site.html" %}
{% load i18n %}


{% block content %}
    <h4>{{ title }}</h4>
    {% if errorlist %}
        <div class="error">
            {{ errorlist }}
        </div>
    {% else %}
        {% if form and object %}
        <div class="row">
            <div class="span3"><a class="btn" href="{% url 'monitorings' object.id %}">
                {% trans 'Мониторинг' %}</a></div>
            <div class="span2"><a class="btn" href="{% url 'buildings' object.id %}">
                {% trans 'Объекты' %}</a></div>
            <div class="span2"><a class="btn" href="{% url 'contracts' object.id %}">
                {% trans 'Контракты' %}</a></div>
            <div class="span2"><a class="btn" href="{% url 'mo-auctions' object.id %}">
                {% trans 'Аукционы' %}</a></div>
            <div class="span3 text-right"><a class="btn" href="{% url 'results' object.id %}">
                {% trans 'Выезды' %}</a></div>
        </div><br />
            {% if agreement %}
                <div class="row">
                    <div class="span5"><a class="btn btn-info" href="{% url 'update-mo' object.id %}">
                        {% trans 'Редактировать' %}</a></div>
                    <div class="span5">
                        <li id="agreements" class="dropdown" style="list-style-type:none;">
                            <a href="#" role="button" class="dropdown-toggle btn" data-toggle="dropdown">{% trans 'Соглашения ' %}<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" >
                                <li><a href="{% url 'add-agreement-mo' object.id %}">
                            {% trans 'Добавить соглашение' %}</a></li>
                                <li><a href="{% url 'add-dop-agreement-mo' object.id 1 %}">
                            {% trans 'Добавить доп. соглашение' %}</a></li>
                                <li><a href="{% url 'add-dop-agreement-mo' object.id 0 %}">
                            {% trans 'Добавить письмо о вычете средств' %}</a></li>
                            </ul>
                        </li>
                    </div>
                    <div class="right"><a class="btn btn-danger" href="{% url 'pre-delete-mo' object.id %}">
                        {% trans 'Удалить' %}</a></div>
                </div><br />
            {% else %}
                <div class="row">
                    <div class="span3"><a class="btn btn-info" href="{% url 'update-agreement' object.id %}">
                        {% trans 'Редактировать' %}</a></div>
                    <div class="right"><a class="btn btn-danger" href="{% url 'pre-delete-agreement' object.id %}">
                        {% trans 'Удалить' %}</a></div>
                </div><br />
            {% endif %}
            <p class="blue"><b>{% trans 'Общие параметры' %}</b></p>
            {% include "view_table.html" %}
            {% if agreement %}
            <div class="auction-table">
                <p class="blue"><b>{% trans ' Реквизиты соглашений с министерством ' %}</b></p>
                <table class="table table-condensed table-striped table-hover">
                    <tr><th> {% trans 'Номер' %}</th>
                        <th> {% trans 'Дата' %}</th>
                        <th> {% trans 'Общая сумма выделенной субвенции' %}</th>
                    </tr>
                    {% for object in agreements %}
                    <tr>
                        <td><a href="{% url 'change-agreement' object.id %}">{{object.num}}</a></td>
                        <td>{{object.date}}</td>
                        <td>{{object.subvention}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
            <!--{% for set in forms %}-->
                <!--<p class="blue"><b>{% trans ' Реквизиты соглашения с министерством № ' %}-->
                    <!--{{set.dep_num}} {% trans 'от' %} {{set.dep_date}}</b>-->
                <!--</p>-->
                <!--{% with set.dep_form as form %}-->
                    <!--{% include "view_table.html" %}-->
                <!--{% endwith %}-->
                <!--{% with set.sub_form as form %}-->
                    <!--{% include "view_table.html" %}-->
                <!--{% endwith %}-->
                <!--{% for form in set.formsets %}-->
                    <!--<p class="blue">{% cycle titles.0 titles.1%}</p>-->
                    <!--{% include "view_table.html" %}-->
                <!--{% endfor %}-->
            <!--{% endfor %}-->
            <br>
        {% endif %}
    {% endif %}
{% endblock %}
