{% extends "base_site.html" %}
{% load i18n %}


{% block content %}
    <h4>{{ title }}</h4>
    {% if errorlist %}
        <div class="error">
            {{ errorlist }}
        </div>
    {% else %}
        {% if form or formsets %}
            <form method="POST" action="{% url 'update-mo' object.id %}"> {% csrf_token %}
                <br>
                <table border="0">
                    {% for field in form %}
                    <tr><td width="30%">{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                    {% endfor %}
                </table>
                {% for set in forms %}
                    <table border="0">
                        <h4>{% trans ' Реквизиты соглашения с министерством' %}</h4>
                        {% for field in set.dep_form %}
                        <tr><td width="30%">{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                        {% endfor %}

                        {% for field in set.sub_form %}
                        <tr><td width="30%">{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                        {% endfor %}
                    </table>
                    {% for form in set.formsets %}
                    <table>
                        <h4>{% cycle titles.0 titles.1%}</h4>
                        {% for field in form %}
                        <tr><td width="30%">{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                {% endfor %}
                <br>
                <button type="submit" name = "result"> {% trans ' Сохранить ' %} </button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
