{% extends "base_site.html" %}
{% load i18n %}


{% block content %}
    <h2>{{ title }}</h2>
    {% if errorlist %}
        <div class="error">
            {{ errorlist }}
        </div>
    {% else %}
        {% if form or formsets %}
            <form method="POST" action="{% url 'update-mo' object.id %}"> {% csrf_token %}
                <br><h4>{% trans ' Общие параметры' %}</h4>
                <table border="0">
                    {% for field in form %}
                    <tr><td width="30%">{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                    {% endfor %}

                    {% for field in dep_form %}
                    <tr><td width="30%">{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                    {% endfor %}
                </table>
                <br>
                <button type="submit" name = "result"> {% trans ' Сохранить ' %} </button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
