{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
    <h4>{{title}}</h4>
    {% if user.is_superuser %}
        <a class="btn btn-small" href="{% url 'create-mo' %}">
            {% trans 'Добавить муниципальное образование' %}</a><br><br>
    {% endif %}
    {% if error %}
        <div class="error">{{ error }}</div><br>
    {% endif %}
    {% if errorlist %}
        <div class="error">{{ errorlist }}</div>
    {% else %}

        {% if mo_list and not formset %}
            <div class="auction-table">
            <table class="table table-condensed table-striped table-hover">
                <tr><th> {% trans 'Наименование' %} / {% trans 'Форма создания спец. жил. фонда' %}</th>
                    <th> {% trans 'Показатель результативности предоставления субвенции' %}</th>
                    <th> {% trans 'Общая сумма выделенной субвенции' %}</th>
                    <th> {% trans 'Количество жилых помещений по заключенным контрактам' %}</th>
                </tr>
                {% for obj in mo_list %}
                    {% if obj.id %}
                        <tr>
                            <td><a href="{% url 'change-mo' obj.id %}">{{obj.name}}</a>
                                {% with creation_form=obj.creation_form %}
                                {% if '0' in creation_form %}/ П {% endif %}
                                {% if '1' in creation_form %}/ ДС {% endif %}
                                {% if '2' in creation_form %}/ С {% endif %}
                                {% endwith %}
                            {% if mo_contracts %}
                                <br><br><strong>{% trans 'Контракты: ' %} </strong>
                                {% for contract in obj.contract_set.all %}
                                    <a href="{% url 'change-contract' contract.id %}">{{contract.num}}; </a>
                                {% endfor %}
                            {% endif %}
                            </td>
                            <td>{{obj.home_orphans}}</td>
                            <td>{{obj.common_amount}}</td>
                            <td>{{obj.contract_set.all.count}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            </div>
        {% with objects_list=mo_list %}
            {% include "paginator.html" %}
        {% endwith %}
        {% endif %}
        {% if formset %}
        <form method="POST" action="{% url 'filter' 20 %}"> {% csrf_token %}
            <br>
            <table border="0">
            {% for form in formset %}<tr>
                {% for field in form %}
                <td width="30%">{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td>
                {% endfor %}</tr>
            {% endfor %}
            </table>
            <br>
            <button type="submit" name = "result"> {% trans ' Сохранить ' %} </button>
        </form>
        {% endif %}
    {% endif %}
{% endblock %}