{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
    <h2>{{title}}</h2>
    {% if user.is_staff %}
        <a class="btn btn-small" href="{% url 'create-mo' %}">
            {% trans 'Добавить муниципальное образование' %}</a><br><br>
    {% endif %}
    {% if error %}
        <div class="error">{{ error }}</div><br>
    {% endif %}
    {% if errorlist %}
        <div class="error">{{ errorlist }}</div>
    {% else %}

        {% if mo_list %}
            <div class="auction-table">
            <table class="table table-condensed table-striped table-hover">
                <tr><th> {% trans 'Муниципальные образования' %}</th></tr>
                <tr><th> {% trans 'Наименование' %}</th><th> {% trans 'Форма создания' %}</th>
                    <th> {% trans 'Сирот' %}</th><th> {% trans 'Требуется жилья' %}</th></tr>
                {% for obj in mo_list %}
                    {% if obj.id %}
                        <tr>
                            <td><a href="{% url 'change-mo' obj.id %}">{{obj.name}}</a></td>
                            <td>{% if obj.creation_form == 0 %}П{% elif obj.creation_form == 1%}ДС{% elif obj.creation_form == 2%}С{% endif %}</td>
                            <td>{{obj.peopleamount_set.all.0.privilege_people}}</td>
                            <td>{{obj.peopleamount_set.all.0.unhome_orphan}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}