{% load extras %}

{% for field in form %}
{% if forloop.counter0|check_divison:"4" == "0" %}
<div class="row">
    {% endif %}
    <div class="span3">
        {% if field.is_hidden %}
        {{ field }}
        {% else %}
        <span class="text-error">{{ field.errors }} </span> {{ field }}
        {{ field.label_tag }}
        {% endif %}
    </div>
    {% if forloop.counter0|check_divison:"4" == "3" %}
</div>
{% endif %}
{% if forloop.last and forloop.counter0|check_divison:"4" != "3" %}
{% if forloop.counter0|check_divison:"4" %}
</div>
{% endif %}
{% endif %}
{% endfor %}
