{% extends "base_site.html" %}
{% load i18n %}

{% block content %}
<h4 xmlns="http://www.w3.org/1999/html">{{ title }}</h4>
{% if errorlist %}
<div class="error"> {{ errorlist }} </div>
{% else %}

<form method="POST" action="{% url 'update-choices' object.id %}"> {% csrf_token %}
    {% if form %}
    {% for field in form %}
    <div class="row">
        <div class="span3">{{ field.label_tag }}<span class="text-error">{{ field.errors }}</span>{{ field }} </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if formset %}
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form.id }}
        <div class="row">
        <div class="span2">{{ form.DELETE }} Удалить </div>
        <div class="span3">{{ form.num.label_tag }} <span class="text-error">{{ form.num.errors }}</span>{{ form.num }} </div>
        <div class="span7">{{ form.value.label_tag }} <span class="text-error">{{ form.value.errors }}</span>{{ form.value }} </div>
        </div>
    {% endfor %}
    <br>
    <button class="btn-info" type="submit" name = "user"> {% trans ' Сохранить ' %} </button>
</form>
    {% endif %}
{% endif %}
{% endblock %}
