body {
    /*margin: 30;*/
    /*margin-top: 40;*/
    padding: 30;
    /*font-size: 12px;*/
    /*color: #333;*/
    /*background: #f8f8f8;*/
    background-color: #f8f8f8;
    font-family: 'DejaVu Sans', 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

input {
    min-height: 30px;
}

textarea{
    resize:none;
    width: inherit;
}

input {
    width: inherit;
}

.table th {
    color: steelblue;
    border-top-style: None;
}

.blue {
    color: steelblue;
}

.left {
    float: left;
}

.right {
    float: right;
}

.left_padding_fix {
    padding-left: 20px;
}

.border-left {
    border-left: 1px #dddddd solid;
}

.right-cmp-object {
    width: 45%;
    padding: 0px;
    margin-top: -10px;
    margin-right: 20px;
    position: absolute;
    right: 0px;
}

.width_20_perc {
    width: 20%;
}