body {
    /*margin: 30;*/
    /*margin-top: 40;*/
    padding: 30;
    /*font-size: 12px;*/
    /*color: #333;*/
    /*background: #f8f8f8;*/
    background-color: #f8f8f8;
    font-family: 'DejaVu Sans', 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

input {
    min-height: 30px;
}

textarea{
    resize:none;
    width: inherit;
}

input {
    width: inherit;
}

.table th {
    color: steelblue;
    border-top-style: None;
}

.blue {
    color: steelblue;
}

.left {
    float: left;
}

.right {
    float: right;
}

.left_padding_fix {
    padding-left: 20px;
}

.border-left {
    border-left: 1px #dddddd solid;
}

.right-cmp-object {
    width: 45%;
    padding: 0px;
    margin-top: -10px;
    margin-right: 20px;
    position: absolute;
    right: 0px;
}

.width_20_perc {
    width: 20%;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 14px !important;
    display: block;
    padding: 4px 25px 4px 25px;
    margin: 2px 0 2px 0;
    border: 1px solid #802420;
    color: white;
    background: #ee5f5b url(../img/admin/icon_alert.gif) 5px .3em no-repeat;
}

.errorlist li a {
 	color: white;
    text-decoration: underline;

}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors {
    background: #ffc;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid red;
}
