<!DOCTYPE>
{% load i18n staticfiles %}
{% load url from future %}

<html lang="ru">
<head>
{% block head %}
    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% endblock %}
    <title>{% block head_title %}{{ title }}{% endblock %}</title>
    {% block links %}
        <link media="screen" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet" />
        <link media="screen" href="{{ STATIC_URL }}css/style.css" type="text/css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    {% endblock %}
{% endblock %}
</head>
{% block body %}
    <body>
   {% if user.is_authenticated %}
   {% block navbar %}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <!--<div class="profile-main">-->
                <!--<a style="font-size:12px;" href="{% url 'logout' %}">{% trans 'Выйти' %}</a>-->
              <!--</div>-->
              <div class="nav-collapse collapse">
                <ul class="nav">
                    <li id="main"><a href="{% url 'main' %}">{% trans 'Главная' %}</a></li>
                    <li id="mos"><a href="{% url 'mos' %}">{% trans 'МО' %}</a></li>
                    <li id="buildings"><a href="{% url 'buildings' %}">{% trans 'Объекты' %}</a></li>
                    <li id="auctions"><a href="{% url 'auctions' %}">{% trans 'Аукционы' %}</a></li>
                    <li id="contracts"><a href="{% url 'contracts' %}">{% trans 'Контракты' %}</a></li>
                    <li id="results"><a href="{% url 'results' %}">{% trans 'Осмотры' %}</a></li>
                    <li id="creation" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Добавить' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="{% url 'create-mo' %}">{% trans 'Добавить муниципальное образование' %}</a></li>
                            <li><a href="{% url 'create-building' %}">{% trans 'Добавить строительный объект' %}</a></li>
                            <li><a href="{% url 'create-auction' %}">{% trans 'Добавить заказ' %}</a></li>
                            <li><a href="{% url 'create-contract' %}">{% trans 'Добавить контракт' %}</a></li>
                            <li><a href="{% url 'create-result' %}">{% trans 'Добавить результат осмотра' %}</a></li>
                        </ul>
                    </li>
                    <!--<li id="mos" class="dropdown">-->
                        <!--<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">МО<b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu" >-->
                            <!--<li><a href="{% url 'mos' %}">{% trans 'Просмотреть' %}</a></li>-->
                            <!--<li><a href="{% url 'create-mo' %}">{% trans 'Добавить' %}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li id="buildings" class="dropdown">-->
                        <!--<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Объекты<b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu" >-->
                            <!--<li><a href="{% url 'buildings' %}">{% trans 'Просмотреть' %}</a></li>-->
                            <!--<li><a href="{% url 'create-building' %}">{% trans 'Добавить' %}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li id="auctions" class="dropdown">-->
                        <!--<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Аукционы<b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu" >-->
                            <!--<li><a href="{% url 'auctions' %}">{% trans 'Просмотреть' %}</a></li>-->
                            <!--<li><a href="{% url 'create-auction' %}">{% trans 'Добавить' %}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li id="contracts" class="dropdown">-->
                        <!--<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Контракты<b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu" >-->
                            <!--<li><a href="{% url 'contracts' %}">{% trans 'Просмотреть' %}</a></li>-->
                            <!--<li><a href="{% url 'create-contract' %}">{% trans 'Добавить' %}</a></li>-->
                        <!--</ul-->
                    <!--</li>-->
                    <!--<li id="results" class="dropdown">-->
                        <!--<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Осмотры<b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu" >-->
                            <!--<li><a href="{% url 'results' %}">{% trans 'Просмотреть' %}</a></li>-->
                            <!--<li><a href="{% url 'create-result' %}">{% trans 'Добавить' %}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="divider-vertical"></li>-->
                    <!--<li id="control" class="dropdown">-->
                        <!--<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Управление<b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu" >-->
                            <!--<li><a href="{% url 'logout' %}">{% trans 'Выйти' %}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
                <ul class="nav pull-right">
                    <li id="filters" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Фильтры<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="{% url 'filter' 1 %}"> "Фильтр 1"</a></li>
                            <li><a href="{% url 'filter' 2 %}"> "Фильтр 2"</a></li>
                            <li><a href="{% url 'filter' 3 %}"> "Фильтр 3"</a></li>
                        </ul>
                    </li>
                    <li id="control"><a href="{% url 'logout' %}">{% trans 'Выйти' %}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
   {% endblock %}
   {% endif %}
   <div class="container">
       {% block wrapper %}{% endblock %}
   </div>
   <div class="container">
       <br />
       {% block content %}{% endblock %}
   </div>

   {% block footer %}
   <div id="footer">
        <hr />
        <div class="footer_menu long">
            <ul class="menu">
            </ul>
            <div class="rights"><span class="copy">MO v1.1.0 Copyright &copy; 2013 developers</span> </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/tabs.js"></script>
    {% endblock %}
    </body>
{% endblock %}
{% block extra_body %} {% endblock %}
</html>