<!DOCTYPE>
{% load i18n staticfiles %}
{% load url from future %}

<html lang="ru">
<head>
{% block head %}
    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% endblock %}
    <title>{% block head_title %}{{ title }}{% endblock %}</title>
{% endblock %}
</head>
{% block body %}
    <body>
   {% if user.is_authenticated %}
   {% block navbar %}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">

              <div class="nav-collapse collapse">
                <ul class="nav">
                {% if user.is_staff %}
                    <li id="mos" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'МО' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="{% url 'mos' %}">{% trans 'Муниципальные образования' %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'xls_work_table' %}">{% trans 'Рабочая таблица' %}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li id="change-mos"><a href="{% url 'change-mo' user.customuser.mo.pk %}">{% trans 'МО' %}</a></li>
                {% endif %}
                {% if not hide_menu %}
                    <li id="monitoring" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Мониторинг' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            {% if not user.is_superuser %}
                                <li><a href="{% url 'monitorings' %}">{% trans 'Объекты мониторинга' %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                                <li class="divider"></li>
                                <li><a href="{% url 'monitorings-all' %}">{% trans 'Все объекты мониторинга' %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if user.is_staff %}
                    <li id="buildings" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Объекты' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            {% if not user.is_superuser %}
                                <li><a href="{% url 'buildings' %}">{% trans 'Объекты' %}</a></li>
                                <li><a href="{% url 'buildings-xls' %}">{% trans 'Выгрузка объектов' %}</a></li>
                                <li><a href="{% url 'contracts-xls' %}">{% trans 'Выгрузка контрактов' %}</a></li>
                                <li><a href="{% url 'auctions-xls' %}">{% trans 'Выгрузка аукционов' %}</a></li>
                                <li><a href="{% url 'building_copies' %}">{% trans 'Копии объектов' %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                                <li class="divider"></li>
                                <li><a href="{% url 'buildings-all' %}">{% trans 'Все объекты' %}</a></li>
                                <li><a href="{% url 'buildings-all-xls' %}">{% trans 'Выгрузка всех объектов' %}</a></li>
                                <li><a href="{% url 'contracts-all-xls' %}">{% trans 'Выгрузка всех контрактов' %}</a></li>
                                <li><a href="{% url 'auctions-all-xls' %}">{% trans 'Выгрузка всех аукционов' %}</a></li>
                                <li><a href="{% url 'building_copies-all' %}">{% trans 'Все копии объектов' %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li id="payments" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Платежи' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            {% if not user.is_superuser %}
                                <li><a href="{% url 'payments' %}">{% trans 'Платежи' %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                                <li class="divider"></li>
                                <li><a href="{% url 'payments-all' %}">{% trans 'Все платежи' %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                    <!--{% if user.is_staff %}-->
                    <!--{% if not hide_menu %}-->
                    <!--<li id="auctions" class="dropdown">-->
                        <!--<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Аукционы' %}<b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu" >-->
                            <!--{% if not user.is_superuser %}-->
                            <!--<li><a href="{% url 'auctions' %}">{% trans 'Аукционы' %}</a></li>-->
                            <!--{% endif %}-->
                            <!--{% if user.is_staff %}-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a href="{% url 'auctions-all' %}">{% trans 'Все аукционы' %}</a></li>-->
                            <!--{% endif %}-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li id="contracts" class="dropdown">-->
                        <!--<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Контракты' %}<b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu" >-->
                            <!--{% if not user.is_superuser %}-->
                            <!--<li><a href="{% url 'contracts' %}">{% trans 'Контракты' %}</a></li>-->
                            <!--{% endif %}-->
                            <!--{% if user.is_staff %}-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="{% url 'contracts-all' %}">{% trans 'Все контракты' %}</a></li>-->
                            <!--{% endif %}-->
                        <!--</ul>-->
                    <!--</li>-->

                    <!--<li id="results" class="dropdown">-->
                        <!--<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Выезды' %}<b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu" >-->
                            <!--{% if not user.is_superuser %}-->
                            <!--<li><a href="{% url 'results' %}">{% trans 'Выезды' %}</a></li>-->
                            <!--{% endif %}-->
                            <!--<li><a href="{% url 'select-mo-form' %}">{% trans 'Создать бланк осмотра' %}</a></li>-->
                            <!--{% if user.is_staff %}-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="{% url 'results-all' %}">{% trans 'Все выезды' %}</a></li>-->
                            <!--{% endif %}-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--{% endif %}-->
                    <!--{% endif %}-->
                    {% if user.is_staff %}
                    <li id="viewing" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Просмотреть' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            {% if not user.is_superuser %}
                                {% if not hide_menu %}
                                    <li><a href="{% url 'auctions' %}">{% trans 'Аукционы' %}</a></li>
                                    <li><a href="{% url 'auction_copies' %}">{% trans 'Копии аукционов' %}</a></li>
                                    <li><a href="{% url 'results' %}">{% trans 'Выезды' %}</a></li>
                                    <li><a href="{% url 'contracts' %}">{% trans 'Контракты' %}</a></li>
                                    <li><a href="{% url 'contract_copies' %}">{% trans 'Копии контрактов' %}</a></li>
                                    {% if user.is_staff %}
                                        <li class="divider"></li>
                                        <li><a href="{% url 'building_copies-all' %}">{% trans 'Все копии объектов' %}</a></li>
                                        <li><a href="{% url 'contract_copies-all' %}">{% trans 'Все копии контрактов' %}</a></li>
                                        <li><a href="{% url 'auction_copies-all' %}">{% trans 'Все копии аукционов' %}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{% url 'auctions-all' %}">{% trans 'Все аукционы' %}</a></li>
                            <li><a href="{% url 'results-all' %}">{% trans 'Все выезды' %}</a></li>
                            <li><a href="{% url 'contracts-all' %}">{% trans 'Все контракты' %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'select-mo-form' %}">{% trans 'Создать бланк осмотра' %}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li id="creation" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Добавить' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            {% if user.is_staff %}
                                <!-- <li><a href="{% url 'create-building' %}">{% trans 'Добавить объект рынка жилья' %}</a></li> -->
                            {% endif %}
                            <li><a href="{% url 'create-monitoring' %}">{% trans 'Добавить объект мониторинга' %}</a></li>
                            <li><a href="{% url 'manage-developer' dev.id dev.state %}">{% trans 'Добавить застройщика(владельца) объекта' %}</a></li>
                            {% if user.is_staff %}
                            <li><a href="{% url 'create-mo' %}">{% trans 'Добавить муниципальное образование' %}</a></li>
                            <li><a href="{% url 'create-auction' %}">{% trans 'Добавить аукцион' %}</a></li>
                            <!--
                            <li><a href="{% url 'create-contract' %}">{% trans 'Добавить контракт' %}</a></li> -->
                            <li><a href="{% url 'create-result' %}">{% trans 'Добавить результат выезда' %}</a></li>
                            <li><a href="{% url 'manage-person' %}">{% trans 'Добавить участника выезда' %}</a></li>
                            {% endif %}
                        </ul>
                    </li>

                <ul class="nav pull-right">
                    {% if user.is_staff %}
                    <li id="filters" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Фильтры<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="{% url 'filter' 1 %}"> Готовые объекты по всем муниципальным образованиям</a></li>
                            <li><a href="{% url 'filter' 2 %}"> Строящиеся объекты по всем муниципальным образованиям</a></li>
                            <li><a href="{% url 'filter' 3 %}"> Земельные участки по всем муниципальным образованиям</a></li>
                            <li><a href="{% url 'filter' 4 %}"> МО, которым выделены средства из федерального бюджета </a></li>
                            <li><a href="{% url 'filter' 5 %}"> МО, которым выделены средства из краевого бюджета</a></li>
                            <li><a href="{% url 'filter' 6 %}"> МО, которые заключили контракты</a></li>
                            <li><a href="{% url 'filter' 7 %}"> МО, размещение заказа которых находится на этапе подачи заявок</a></li>
                            <li><a href="{% url 'filter' 8 %}"> МО, размещение заказа которых находится на этапе работы комиссии</a></li>
                            <li><a href="{% url 'filter' 9 %}"> МО, размещение заказа которых завершено по причине отсутствия участников</a></li>
                            <li><a href="{% url 'filter' 10 %}"> МО, размещение заказа которых завершено, подана одна заявка</a></li>
                            <li><a href="{% url 'filter' 11 %}"> МО, размещение заказа которых завершено, не допущена ни одна заявка</a></li>
                            <li><a href="{% url 'filter' 12 %}"> МО, размещение заказа которых отменено</a></li>
                            <li><a href="{% url 'filter' 16 %}"> МО, к которым есть замечания</a></li>
                            <li><a href="{% url 'filter' 17 %}"> МО, к которым нет замечаний</a></li>
                            <li><a href="{% url 'filter' 18 %}"> МО, у которых отсутствуют документы по заключенным контрактам</a></li>
                            <li><a href="{% url 'filter' 19 %}"> МО, которые освоили выделенную субвенцию в полном объеме</a></li>
                            <li><a href="{% url 'filter' 20 %}"> МО, которые предоставили жилые помещения детям-сиротам</a></li>
                            <li><a href="{% url 'filter' 21 %}"> МО, которые имеют перспективы освоения дополнительных денежных средств на текущий год.</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li id="manage" class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Управление<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" >
                                <li><a href="{% url 'developers' %}">{% trans 'Застройщики' %}</a></li>
                                {% if user.is_superuser %}
                                <li><a href="{% url 'create-user' %}">{% trans 'Создать пользователя' %}</a></li>
                                <li><a href="{% url 'users' %}">{% trans 'Список пользователей' %}</a></li>
                                <li><a href="{% url 'choices' %}">{% trans 'Список материалов' %}</a></li>
                                <li><a href="{% url 'max_flat_prices' %}">{% trans 'Максимальная стоимость квартиры' %}</a></li>
                                {% endif %}
                                <li id="control-logout"><a href="{% url 'logout' %}">{% trans 'Выйти' %}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li id="control-logout"><a href="{% url 'logout' %}">{% trans 'Выйти' %}</a></li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
   {% endblock %}
   {% endif %}
   <div class="container">
       {% block wrapper %}{% endblock %}
   </div>
   <div class="container">
       <br />
       {% if user.customuser.mo %}
       <div class="row info">
           <div class="span12 text-right"> {% trans 'Выбрано: '%} &nbsp;
               <a class="btn btn-small btn-info" href="{% url 'mos' %}">
               {{ user.customuser.mo }}</a> &nbsp;
               <li id="dates" class="dropdown" style="list-style-type:none; display: inline;">
                   <a href="#" role="button" class="dropdown-toggle btn btn-small btn-info" data-toggle="dropdown">
                       {{ user.customuser.show_user_date }}<b class="caret"></b></a>
                   <ul class="dropdown-menu" role="menu" >
                       <li><a href="{% url 'select-user-date' user.id 0 %}">Не указано</a></li>
                       <li><a href="{% url 'select-user-date' user.id 1 %}">2012</a></li>
                       <li><a href="{% url 'select-user-date' user.id 2 %}">2013</a></li>
                       <li><a href="{% url 'select-user-date' user.id 3 %}">2014</a></li>
                       <li><a href="{% url 'select-user-date' user.id 4 %}">2015</a></li>
                       <li><a href="{% url 'select-user-date' user.id 5 %}">2016</a></li>
                       <li><a href="{% url 'select-user-date' user.id 6 %}">2017</a></li>
                       <li><a href="{% url 'select-user-date' user.id 7 %}">2018</a></li>
                       <li><a href="{% url 'select-user-date' user.id 8 %}">2019</a></li>
                       <li><a href="{% url 'select-user-date' user.id 9 %}">2020</a></li>
                   </ul>
               </li>
           </div>
       </div>
       <br />
       {% endif %}
       {% block content %}{% endblock %}
   </div>

   {% block footer %}
   <div id="footer">
        <hr />
        <div class="footer_menu long navbar-fixed-bottom">
            <ul class="menu">
            </ul>
            <div class="rights"><span class="copy">MO v1.1.0 Copyright &copy; 2013 developers</span> </div>
        </div>
    </div>
    {% endblock %}
   {% block scripts %}
       <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
       <script src="{{ STATIC_URL }}js/jquery.maskedinput.min.js"></script>
       <script src="{{ STATIC_URL }}js/jquery.number.min.js"></script>
       {% include 'autocomplete_light/static.html' %}
       <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
       <script src="{{ STATIC_URL }}js/tabs.js"></script>
       <script src="{{ STATIC_URL }}js/masks.js"></script>
       <script src="{{ STATIC_URL }}js/on_close.js"></script>
   {% endblock %}
   {% block links %}
       <link media="screen" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet" />
       <link media="screen" href="{{ STATIC_URL }}css/style.css" type="text/css" rel="stylesheet" />
       <link media="screen" href="{% url 'generate-fonts-css' %}" type="text/css" rel="stylesheet" />
   {% endblock %}
    </body>
{% endblock %}
{% block extra_body %} {% endblock %}
</html>
