<!DOCTYPE>
{% load i18n staticfiles %}
{% load url from future %}

<html lang="ru">
<head>
{% block head %}
    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% endblock %}
    <title>{% block head_title %}{{ title }}{% endblock %}</title>
{% endblock %}
</head>
{% block body %}
    <body>
   {% if user.is_authenticated %}
   {% block navbar %}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">

              <div class="nav-collapse collapse">
                <ul class="nav">
                    {% if user.is_staff %}
                    <li id="mos"><a href="{% url 'mos' %}">{% trans 'МО' %}</a></li>
                    {% else %}
                    <li id="change-mos"><a href="{% url 'change-mo' user.customuser.mo.pk %}">{% trans 'МО' %}</a></li>
                    {% endif %}
                    {% if not hide_menu %}
                    <li id="monitoring" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Мониторинг' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            {% if not user.is_superuser %}
                            <li><a href="{% url 'monitorings' %}">{% trans 'Объекты мониторинга' %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                            <li class="divider"></li>
                            <li><a href="{% url 'monitorings-all' %}">{% trans 'Все объекты мониторинга' %}</a></li>
                            {% endif %}
                            <li><a href="">{% trans 'Застройщики' %}</a></li>
                        </ul>
                    </li>
                    <li id="buildings" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Объекты' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            {% if not user.is_superuser %}
                            <li><a href="{% url 'buildings' %}">{% trans 'Объекты' %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                                <li class="divider"></li>
                                <li><a href="{% url 'buildings-all' %}">{% trans 'Все объекты' %}</a></li>
                            {% endif %}
                            <li><a href="{% url 'developers' %}">{% trans 'Застройщики' %}</a></li>
                        </ul>
                    </li>
                    {% endif %}

                    {% if user.is_staff %}
                    {% if not hide_menu %}
                    <li id="auctions" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Аукционы' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            {% if not user.is_superuser %}
                            <li><a href="{% url 'auctions' %}">{% trans 'Аукционы' %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                                <li class="divider"></li>
                                <li><a href="{% url 'auctions-all' %}">{% trans 'Все аукционы' %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li id="contracts" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Контракты' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            {% if not user.is_superuser %}
                            <li><a href="{% url 'contracts' %}">{% trans 'Контракты' %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                            <li class="divider"></li>
                            <li><a href="{% url 'contracts-all' %}">{% trans 'Все контракты' %}</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    <li id="results" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Выезды' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            {% if not user.is_superuser %}
                            <li><a href="{% url 'results' %}">{% trans 'Выезды' %}</a></li>
                            {% endif %}
                            <li><a href="{% url 'select-mo-form' %}">{% trans 'Создать бланк осмотра' %}</a></li>
                            {% if user.is_staff %}
                            <li class="divider"></li>
                            <li><a href="{% url 'results-all' %}">{% trans 'Все выезды' %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endif %}

                    <li id="creation" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Добавить' %}<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="{% url 'create-building' %}">{% trans 'Добавить объект рынка жилья' %}</a></li>
                            <li><a href="{% url 'create-monitoring' %}">{% trans 'Добавить объект мониторинга' %}</a></li>
                            <li><a href="{% url 'manage-developer' dev.id dev.state %}">{% trans 'Добавить застройщика(владельца) объекта' %}</a></li>
                            {% if user.is_staff %}
                            <li><a href="{% url 'create-mo' %}">{% trans 'Добавить муниципальное образование' %}</a></li>
                            <li><a href="{% url 'create-auction' %}">{% trans 'Добавить аукцион' %}</a></li>
                            <li><a href="{% url 'create-contract' %}">{% trans 'Добавить контракт' %}</a></li>
                            <li><a href="{% url 'create-result' %}">{% trans 'Добавить результат выезда' %}</a></li>
                            <li><a href="{% url 'manage-person' %}">{% trans 'Добавить участника выезда' %}</a></li>
                            {% endif %}
                        </ul>
                    </li>

                <ul class="nav pull-right">
                    {% if user.is_staff %}
                    <li id="filters" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Фильтры<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="{% url 'filter' 1 %}"> Готовые объекты по всем муниципальным образованиям</a></li>
                            <li><a href="{% url 'filter' 2 %}"> Строящиеся объекты по всем муниципальным образованиям</a></li>
                            <li><a href="{% url 'filter' 3 %}"> Земельные участки по всем муниципальным образованиям</a></li>
                            <li><a href="{% url 'filter' 4 %}"> МО, которым выделены средства из федерального бюджета </a></li>
                            <li><a href="{% url 'filter' 5 %}"> МО, которым выделены средства из краевого бюджета</a></li>
                            <li><a href="{% url 'filter' 6 %}"> МО, которые заключили контракты</a></li>
                            <li><a href="{% url 'filter' 7 %}"> МО, размещение заказа которых находится на этапе подачи заявок</a></li>
                            <li><a href="{% url 'filter' 8 %}"> МО, размещение заказа которых находится на этапе работы комиссии</a></li>
                            <li><a href="{% url 'filter' 9 %}"> МО, размещение заказа которых завершено по причине отсутствия участников</a></li>
                            <li><a href="{% url 'filter' 10 %}"> МО, размещение заказа которых завершено, подана одна заявка</a></li>
                            <li><a href="{% url 'filter' 11 %}"> МО, размещение заказа которых завершено, не допущена ни одна заявка</a></li>
                            <li><a href="{% url 'filter' 12 %}"> МО, размещение заказа которых отменено</a></li>
                            <li><a href="{% url 'filter' 16 %}"> МО, к которым есть замечания</a></li>
                            <li><a href="{% url 'filter' 17 %}"> МО, к которым нет замечаний</a></li>
                            <li><a href="{% url 'filter' 18 %}"> МО, у которых отсутствуют документы по заключенным контрактам</a></li>
                            <li><a href="{% url 'filter' 19 %}"> МО, которые освоили выделенную субвенцию в полном объеме</a></li>
                            <li><a href="{% url 'filter' 20 %}"> МО, которые предоставили жилые помещения детям-сиротам</a></li>
                            <li><a href="{% url 'filter' 21 %}"> МО, которые имеют перспективы освоения дополнительных денежных средств на текущий год.</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li id="manage" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Управление<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >

                            {% if not user.is_superuser %}
                            <li><a href="{% url 'payments' %}">{% trans 'Платежи' %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                            <li class="divider"></li>
                            <li><a href="{% url 'payments-all' %}">{% trans 'Все платежи' %}</a></li>
                            {% endif %}

                            {% if user.is_superuser %}
                            <li><a href="{% url 'create-user' %}">{% trans 'Создать пользователя' %}</a></li>
                            <li><a href="{% url 'users' %}">{% trans 'Список пользователей' %}</a></li>
                            <li><a href="{% url 'choices' %}">{% trans 'Список материалов' %}</a></li>
                            {% endif %}
                            <li id="control-logout"><a href="{% url 'logout' %}">{% trans 'Выйти' %}</a></li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
   {% endblock %}
   {% endif %}
   <div class="container">
       {% block wrapper %}{% endblock %}
   </div>
   <div class="container">
       <br />
       {% if user.customuser.mo %}
       <div class="row info">
           <div class="span12 text-right"> Выбрано: <a class="btn btn-small btn-info" href="{% url 'mos' %}"> {{ user.customuser.mo }}</a></div>
       </div>
       <br />
       {% endif %}
       {% block content %}{% endblock %}
   </div>

   {% block footer %}
   <div id="footer">
        <hr />
        <div class="footer_menu long navbar-fixed-bottom">
            <ul class="menu">
            </ul>
            <div class="rights"><span class="copy">MO v1.1.0 Copyright &copy; 2013 developers</span> </div>
        </div>
    </div>
    {% endblock %}
   {% block scripts %}
       <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
       <script src="{{ STATIC_URL }}js/jquery.maskedinput.min.js"></script>
       <script src="{{ STATIC_URL }}js/jquery.number.min.js"></script>
       {% include 'autocomplete_light/static.html' %}
       <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
       <script src="{{ STATIC_URL }}js/tabs.js"></script>
       <script src="{{ STATIC_URL }}js/masks.js"></script>
       <script src="{{ STATIC_URL }}js/on_close.js"></script>
   {% endblock %}
   {% block links %}
       <link media="screen" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet" />
       <link media="screen" href="{{ STATIC_URL }}css/style.css" type="text/css" rel="stylesheet" />
       <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
   {% endblock %}
    </body>
{% endblock %}
{% block extra_body %} {% endblock %}
</html>
