{% extends "base_site.html" %}
{% load i18n %}


{% block content %}
    <h2>{% trans 'Войти' %}</h2>
    {% if errorlist %}
        <div class="error">
            {{ errorlist }}
        </div>
    {% else %}
        {% if form %}
            {% csrf_token %}
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                    <table>
                    {{ form }}
                    </table>
                <br>
                <button type="submit" name = "action"> {% trans ' Войти ' %}</button>
            </form>
            <br>
        {% else %}
            <br>
            Sorry, you can't login right now, try again later.
        {% endif %}
    {% endif %}


{% endblock %}
