{% extends "base_site.html" %}
{% load i18n %}

{% block content %}
    {{ title }}
    {% if user.is_authenticated %}
        <br />
        <p> Вы уже вошли как {{ user }}.
        <a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Выйти</a></p>
    {% else %}
        <h3>Вход в систему</h3>
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-info" value="Вход" />
        <input type="hidden" name="next" value="{% url 'main' %}" />
        </form>
    {% endif %}
{% endblock %}
