{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
    <h4>{{title}}</h4>
    {% if user.is_staff %}
        <a class="btn btn-small" href="{% url 'create-auction' %}">
            {% trans 'Добавить аукцион' %}</a><br><br>
    {% endif %}
    {% if error %}
        <div class="error">{{ error }}</div><br>
    {% endif %}
    {% if errorlist %}
        <div class="error">{{ errorlist }}</div>
    {% else %}

        {% if auction_list %}
            <br><table class="table table-striped table-condensed table-hover">
                {% regroup auction_list by stage as objects_list %}
                <tr><th>{% trans '№ заказа' %}</th><th>{% trans 'Количество жилых помещений' %}</th>
                    <th>{% trans 'Площадь жилых помещений' %}</th><th>{% trans 'Начальная цена' %}</th>
                    <th>{% trans 'Дата опубликования заказа' %}</th><th>{% trans 'Дата и время проведения аукциона' %}</th>
                    <th>{% trans 'Сумма заключенного контракта' %}</th>
                    <th> </th>
                </tr>
                {% for stage in objects_list %}
                {% for item in stage.list %}
                <tr onclick="location.href = '{% url 'update-auction_copy' item.id %}'">
                    <td> <a href="{% url 'update-auction_copy' item.id %}"> {{ item.num }} </a> </td>
                    <td>{{ item.flats_amount }}</td><td>{{ item.area }}</td>
                    <td>{{ item.start_price }}</td><td>{{ item.date }}</td><td>{{ item.open_date }}</td>
                    <td>{{ item.contract.summa }}</td>
                    <td> <a class="btn btn-danger" href="{% url 'delete-auction_copy' item.id %}"> Удалить</a> </td>
                    {% if item.stage == 4 %}
                        {% if item.contract %}
                            <td> {{ item.contract.building.address|truncatechars:50 }} </td>
                            <td> {{ item.contract.building.developer|truncatechars:50 }} </td>

                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
                {% endfor %}
                {% for obj in building_list %}
                {% endfor %}
            </table>
        {% with objects_list=auction_list %}
            {% include "paginator.html" %}
        {% endwith %}
        {% endif %}
    {% endif %}
{% endblock %}
