{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
    <h2>{{title}}</h2>
    {% if user.is_staff %}
        <a class="btn btn-small" href="{% url 'create-auction' %}">
            {% trans 'Добавить аукцион' %}</a><br><br>
    {% endif %}
    {% if error %}
        <div class="error">{{ error }}</div><br>
    {% endif %}
    {% if errorlist %}
        <div class="error">{{ errorlist }}</div>
    {% else %}

        {% if auction_list %}
            <table class="table table-striped table-condensed table-hover">
                {% regroup auction_list by stage as objects_list %}
                {% for stage in objects_list %}
                {% if stage.grouper == 0 %}
                <tr><th> {% trans 'Аукционы на этапе подачи заявки' %}</th></tr>
                {% elif stage.grouper == 1 %}
                <tr><th> {% trans 'Аукционы на этапе работы комиссии' %}</th></tr>
                {% elif stage.grouper == 2 %}
                <tr><th> {% trans 'Аукционы на этапе завершения работы (не допущена ни одна заявка)' %}</th></tr>
                {% elif stage.grouper == 3 %}
                <tr><th> {% trans 'Аукционы на этапе завершения работы (не подана ни одна заявка)' %}</th></tr>
                {% elif stage.grouper == 4 %}
                <tr><th> {% trans 'Аукционы на этапе заключения контракта' %}</th></tr>
                {% elif stage.grouper == 5 %}
                <tr><th> {% trans 'Аукционы на этапе отмены размещения' %}</th></tr>
                {% endif %}
                {% for item in stage.list %}
                <tr onclick="location.href = '{% url 'change-auction' item.id %}'">
                    <td> <a href="{% url 'change-auction' item.id %}"> {{ item.num }} </a> </td>
                    <td> {{ item.mo.name }} </td>
                    <td> {{ item.open_date }} </td>
                    {% if item.stage == 4 %}
                        {% if item.contract %}
                            <td> <a class="btn btn-small" href="{% url 'change-contract' item.contract.id %}"> {% trans 'Контракт ' %}{{ item.contract.num }}</a> </td>
                            <td> {{ item.contract.building.address|truncatechars:50 }} </td>
                            <td> {{ item.contract.building.developer|truncatechars:50 }} </td>
                        {% else %}
                            <td> <a class="btn btn-small" href="{% url 'create-contract' %}"> {% trans 'Составить контракт' %}</a> </td>
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
                {% endfor %}
                {% for obj in building_list %}
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}