{% extends "base_site.html" %}
{% load i18n %}


{% block content %}
    <h2>{{ title }}</h2>
     <h4>{% trans 'Аукцион' %} № {{object.num}}</h4>
        <div class="row">
            <div class="span5"><a class="btn btn-info" href="{% url 'update-auction' object.id %}">
                {% trans 'редактировать' %}</a></div>
            <div class="right"><a class="btn btn-danger" href="{% url 'pre-delete-auction' object.id %}">
                {% trans 'Удалить' %}</a></div>
        </div><br />
        {% if form or formsets %}
            {% if form %}
                {% include "view_table.html" %}
            {% endif %}
            {% if formsets %}
                {% for form in formsets %}
                    <p class="blue">{% cycle titles.0 titles.1 titles.2 titles.3 %}</p>
                    {% include "view_table.html" %}
                {% endfor %}
            {% endif %}
        {% endif %}
{% endblock %}
