{% extends "base_site.html" %}
{% load i18n %}


{% block content %}
    <h4>{{ title }}</h4>
        <div class="row">
            <div class="span5"><a class="btn btn-info" href="{% url 'update-auction' object.id %}">
                {% trans 'Редактировать' %}</a></div>
            {{ object.stage }}
            {% if object.stage == 4 %}
                <div class="span5"><a class="btn btn-small" href="{% url 'add-auction-contract' object.id %}">
                            {% trans 'Заполнить контракт' %}</a></div>
            {% endif %}
            <div class="right"><a class="btn btn-danger" href="{% url 'pre-delete-auction' object.id %}">
                {% trans 'Удалить' %}</a></div>
        </div><br />
        <h4 class="blue">{% trans 'Аукцион' %} № {{object.num}}</h4>
        {% if form or formsets %}
            {% if form %}
                {% include "view_table.html" %}
            {% endif %}
            {% if formsets %}
                {% for form in formsets %}
                    <p class="blue">{% cycle titles.0 titles.1 titles.2 titles.3 %}</p>
                    {% include "view_table.html" %}
                {% endfor %}
            {% endif %}
        {% endif %}
{% endblock %}
