{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
    <h4>{{title}}</h4>
    {% if user.is_staff %}
        <a class="btn btn-small" href="{% url 'create-auction' %}">
            {% trans 'Добавить аукцион' %}</a><br><br>
    {% endif %}
    {% if error %}
        <div class="error">{{ error }}</div><br>
    {% endif %}
    {% if errorlist %}
        <div class="error">{{ errorlist }}</div>
    {% else %}

        {% if objects_list %}
            <table class="table table-condensed table-bordered">

                <tr><th rowspan="2">{% trans 'Наменование МО / ' %}{% trans 'Способ формирования спец жил фонда' %}</th>
                    <th rowspan="2">{% trans 'Количество квартир по соглашению' %}</th>
                    <th colspan="4">{% trans 'Количество квартир по аукционам' %}</th>
                </tr><tr>
                    <th>{% trans 'на этапе подачи заявок' %}</th>
                    <th>{% trans 'на этапе работы комиссии' %}</th>
                    <th>{% trans 'размещение которых завершено (не подана ни одна заявка)' %}</th>
                    <th>{% trans 'по результатам которых заключены контракты' %}</th>
                </tr>
                {% for object in objects_list %}
                <tr onclick="location.href = '{% url 'mo-auctions' object.id %}'">
                    <td> <a href="{% url 'mo-auctions' object.id %}"> {{ object.name }}</a> /
                    {% with object.creation_form as creation_form %}
                            {% if creation_form == 0 %}П{% elif creation_form == 1%}ДС{% elif creation_form == 2 %}С{% endif %}
                        {% endwith %}
                    </td>
                    <td>{{ object.amount_0 }}</td>
                    <td>{{ object.amount_1 }}</td><td>{{ object.amount_2 }}</td><td>{{ object.amount_3 }}</td><td>{{ object.amount_4 }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}