{% extends "base_site.html" %}
{% load i18n %}
{% load extras %}

{% block content %}
    <h4>{{ title }}</h4>
    {% if errorlist %}
        <div class="error">
            {{ errorlist }}
        </div>
    {% else %}
    <table class="table table-hover table-striped table-condensed">
        <tbody>
        {% if cmp_form and cmp_object %}
            <br />
            <tr>
                <th width="33%"> <p class="text-info"> Название </p> </th>
                <th width="33%"> <p class="text-info">{{ object_title }}  </p>
                    <a class="btn btn-small btn-info" href="{{ object_update_url }}">
                        {% trans 'Редактировать' %}</a>
                    <a class="btn btn-small btn-danger" href="{{ object_pre_delete_url }}">
                        {% trans 'Удалить' %}</a>
                </th>
                <th width="33%"> <p class="text-info">{{ cmp_object_title }}</p>
                    <a class="btn btn-small btn-info" href="{{ cmp_obj_update_url }}">
                        {% trans 'Редактировать' %}</a>
                    <a class="btn btn-small btn-danger" href="{{ cmp_obj_pre_delete_url }}">
                        {% trans 'Удалить' %}</a>
                </th>
            </tr>
            {% for field in cmp_form %}
                <tr>
                    <td> {{ field.label }} </td>
                    <td> {{ form|get_field_for_cmp:field.name|default_if_none:"Не указано"|yes_no_rus|safe }} </td>
                    <td> {{ cmp_form|get_field_for_cmp:field.name|default_if_none:"Не указано"|yes_no_rus|safe }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-hover table-striped table-condensed">
        <tbody>
            <tr> <th> <p class="text-info"> {{ titles|get_element_by_index:0 }}</th></p> </tr>
            {% for field in room_cf %}
            <tr>
                <td width="33%"> {{ field.label }} </td>
                <td width="33%"> {{ room_f|get_field_for_cmp:field.name|default_if_none:"Не указано"|yes_no_rus|safe }} </td>
                <td width="33%"> {{ room_cf|get_field_for_cmp:field.name|default_if_none:"Не указано"|yes_no_rus|safe }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-hover table-striped table-condensed">
        <tbody>
            <tr> <th> <p class="text-info"> {{ titles|get_element_by_index:1 }}</th></p> </tr>
            {% for field in room_cf %}
            <tr>
                <td width="33%"> {{ field.label }} </td>
                <td width="33%"> {{ hallway_f|get_field_for_cmp:field.name|default_if_none:"Не указано"|yes_no_rus|safe }} </td>
                <td width="33%"> {{ hallway_cf|get_field_for_cmp:field.name|default_if_none:"Не указано"|yes_no_rus|safe }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-hover table-striped table-condensed">
        <tbody>
            <tr> <th> <p class="text-info"> {{ titles|get_element_by_index:2 }}</th></p> </tr>
            {% for field in wc_cf %}
            <tr>
                <td width="33%"> {{ field.label }} </td>
                <td width="33%"> {{ wc_f|get_field_for_cmp:field.name|default_if_none:"Не указано"|yes_no_rus|safe }} </td>
                <td width="33%"> {{ wc_cf|get_field_for_cmp:field.name|default_if_none:"Не указано"|yes_no_rus|safe }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-hover table-striped table-condensed">
        <tbody>
            <tr> <th> <p class="text-info"> {{ titles|get_element_by_index:3 }}</th></p> </tr>
            {% for field in kitchen_cf %}
            <tr>
                <td width="33%"> {{ field.label }} </td>
                <td width="33%"> {{ kitchen_f|get_field_for_cmp:field.name|default_if_none:"Не указано"|yes_no_rus|safe }} </td>
                <td width="33%"> {{ kitchen_cf|get_field_for_cmp:field.name|default_if_none:"Не указано"|yes_no_rus|safe }} </td>
            </tr>
            {% endfor %}

        {% endif %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
