{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
    <h4>{{title}}</h4>
    {% if user.is_staff %}
        <!-- <a class="btn btn-small" href="{% url 'create-contract' %}">
            {% trans 'Добавить контракт' %}</a><br><br> -->
    {% endif %}
    {% if error %}
        <div class="error">{{ error }}</div><br>
    {% endif %}
    {% if errorlist %}
        <div class="error">{{ errorlist }}</div>
    {% else %}

        {% if contract_list %}
            <div class="auction-table">
            <table class="table table-condensed">
                <tr><th> {% trans '№ контракта' %}</th><th> {% trans 'МО' %}</th><th>{% trans 'Количество жилых помещений' %}</th>
                    <th>{% trans 'Адрес жилых помещений' %}</th><th>{% trans 'Сумма' %}</th><th>{% trans 'Продавец/застройщик' %}</th>
                    <th>{% trans 'Срок сдачи объекта в эксплуатацию' %}</th></tr>
                {% for obj in contract_list %}
                    {% if obj.id %}
                        <tr>
                            <td><a href="{% url 'change-contract' obj.id %}">{{obj.num|truncatechars:30}}</a></td>
                            <td>{{obj.mo.name}}</td><td>{{obj.flats_amount}}</td><td>{{obj.building_set.all.0.address}}</td>
                            <td>{{obj.summa}}</td><td>{{obj.developer.name}}</td><td>{{obj.building_set.all.0.complete_date}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            </div>
        {% with objects_list=contract_list %}
            {% include "paginator.html" %}
        {% endwith %}
        {% endif %}
    {% endif %}
{% endblock %}