{% extends "base_site.html" %}
{% load i18n %}

{% block content %}
    <h4>{{ title }}</h4>
        <div class="row">
            <div class="span2"><a class="btn btn-info" href="{% url 'update-contract' object.id %}">
                {% trans 'редактировать' %}</a></div>
            <div class="span5"><a class="btn btn-small" href="{% url 'cmp-contract' object.id %}">
                        {% trans 'Сравнить с объектом' %}</a>
            <a class="btn btn-small" href="{% url 'cmp-contract-auction' object.id %}">
                        {% trans 'Сравнить с аукционом' %}</a></div>

            <form method="POST" enctype="multipart/form-data" action="{% url 'copy-contract' object.id %}"> {% csrf_token %}
                <div class="span1"> Количество </div>
                <div class="span1"> {{ copyform.amount }} </div>
                <div class="span1"><button class="btn" type="submit" >
                    {% trans 'Скопировать' %} </button></div>
            <div class="text-right span2"><a class="btn btn-danger" href="{% url 'pre-delete-contract' object.id %}">
                {% trans 'Удалить' %}</a></div>
            </form>
        </div><br />
        {% if building_list %}
            <div class="row">
                <div class="span6"> <h4>{% trans 'Связанные объекты' %}</h4> </div>
                <div class="right"> <a class="btn" href="{% url 'create-building' object.id %}"> Добавить связанный объект </a> </div>
            </div>
            <table class="table table-condensed table-hover">
                {% regroup building_list by state as objects_list %}
                <tr><th> {% trans 'Адрес' %}</th><th> </th>
                    <th> {% trans 'Муниципальное образование' %}</th>
                    <th>{% trans 'Застройщик' %}</th>
                    <th>{% trans 'Срок сдачи в эксплуатацию' %}</th></tr>
                {% for state in objects_list %}
                {% if state.grouper == 0 %}
                <tr><th colspan="6"> <strong>{% trans 'Сданные объекты' %}</strong></th></tr>
                {% elif state.grouper == 1 %}
                <tr><th colspan="6"> <strong>{% trans 'Строящиеся объекты' %}</strong></th></tr>
                {% elif state.grouper == 2 %}
                <tr><th colspan="6"> <strong>{% trans 'Участки под строительство' %}</strong></th></tr>
                {% endif %}
                {% for item in state.list %}
                <tr onclick="location.href = '{% url 'change-building' item.id item.state %}'">
                    <td> <a href="{% url 'change-building' item.id item.state %}"> {{ item.address|truncatechars:200 }} </a> </td>
                    <td> {# item.cad_num #} </td>
                    <td> {{ item.mo.name }} </td>
                    <td> {{ item.developer|truncatechars:50 }} </td>
                    <td> {{ item.complete_date }} </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        {% else %}
            <div class="row">
                <div class="right"> <a class="btn" href="{% url 'create-building' object.id %}"> Добавить объект </a> </div>
            </div>
        {% endif %}
        <h4 class="blue">{% trans 'Контракт' %} № {{object.num}}</h4>
        {% if form or formsets %}
            {% if form %}
                {% include "view_table.html" %}
            {% endif %}
            {% if formsets %}
                {% for form in formsets %}
                    <p class="blue">{% cycle titles.0 titles.1 titles.2 titles.3 %}</p>
                    {% include "view_table.html" %}
                {% endfor %}
            {% endif %}
        {% endif %}

{% endblock %}
