{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
    <h4>{{title}}</h4>

    {% if error %}
        <div class="error">{{ error }}</div><br>
    {% endif %}
    {% if errorlist %}
        <div class="error">{{ errorlist }}</div>
    {% else %}
        {% if filter_form  %}
            <form class="form-search" method="post" action="{% url 'auctions'%}" enctype="multipart/form-data">{% csrf_token %}
                <div class="row" style="margin-left: 5px;">
                    {% if user.is_staff %}
                        <a class="btn btn-small" href="{% url 'create-auction' %}"> {% trans 'Добавить аукцион' %}</a>
                    {% endif %}
                    <div class="input-append">
                        {% for field in filter_form %}
                            {{ field.errors }}{{ field }}
                        {% endfor %}
                        <button style="height: 26px;" class="btn btn-mini" type="submit" name="fnum" value="{% url 'auctions' %}">
                            {% trans 'Поиск' %}
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}

        {% if auction_list %}
            {% if object %}
                <strong>{% trans 'Наменование МО: ' %}</strong>{{ object.name }}<br>
                <strong>{% trans 'СРЗ: ' %}</strong>
                {% with creation_form=object.creation_form %}
                    {% if '0' in creation_form %}/ П {% endif %}
                    {% if '1' in creation_form %}/ ДС {% endif %}
                    {% if '2' in creation_form %}/ С {% endif %}
                {% endwith %}<br>
                <strong>{% trans 'Выделенных жилых помещений на текущий год: ' %}</strong>{{ object.home_orphans }}<br>
            {% endif %}
            <br><table class="table table-striped table-condensed table-hover">
                {% regroup auction_list by stage as objects_list %}
                <tr><th>№</th><th>{% trans '№ заказа' %}</th><th>{% trans 'Количество жилых помещений' %}</th>
                    <th>{% trans 'Площадь жилых помещений' %}</th><th>{% trans 'Начальная цена' %}</th>
                    <th>{% trans 'Дата опубликования заказа' %}</th><th>{% trans 'Дата и время проведения аукциона' %}</th>
                    <th>{% trans 'Сумма заключенного контракта' %}</th>
                </tr>
                {% for stage in objects_list %}
                {% if stage.grouper == 0 %}
                <tr><th colspan="7"> <strong>{% trans 'Аукционы на этапе подачи заявки' %}</strong></th></tr>
                {% elif stage.grouper == 1 %}
                <tr><th colspan="7"> <strong>{% trans 'Аукционы на этапе работы комиссии' %}</strong></th></tr>
                {% elif stage.grouper == 2 %}
                <tr><th colspan="7"> <strong>{% trans 'Аукционы на этапе завершения работы (не допущена ни одна заявка)' %}</strong></th></tr>
                {% elif stage.grouper == 3 %}
                <tr><th colspan="7"> <strong>{% trans 'Аукционы на этапе завершения работы (не подана ни одна заявка)' %}</strong></th></tr>
                {% elif stage.grouper == 4 %}
                <tr><th colspan="7"> <strong>{% trans 'Заключен контракт' %}</strong></th></tr>
                {% elif stage.grouper == 5 %}
                <tr><th colspan="7"> <strong>{% trans 'Аукционы на этапе отмены размещения' %}</strong></th></tr>
                {% endif %}

                {% for item in stage.list %}
                <tr onclick="location.href = '{% url 'change-auction' item.id %}'">
                    <td> {{ item.index_number }}</td>
                    <td> <a href="{% url 'change-auction' item.id %}"> {{ item.num }} </a> </td>
                    <td>{{ item.flats_amount }}</td><td>{{ item.area }}</td>
                    <td>{{ item.start_price }}</td><td>{{ item.date }}</td><td>{{ item.open_date }}</td>
                    <td>{{ item.contract.summa }}</td>
                    {% if item.stage == 4 %}
                        {% if item.contract %}
                            <td> {{ item.contract.building.address }} </td>
                            <td> {{ item.contract.building.developer }} </td>
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
                {% endfor %}
                {% for obj in building_list %}
                {% endfor %}
            </table>
        {% with objects_list=auction_list %}
            {% include "paginator.html" %}
        {% endwith %}
        {% endif %}
    {% endif %}
{% endblock %}
