{% load i18n %}
{% load extras %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> {{ title }}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
{% block content %}
<h2 align="center"> {{ title }}  </h2>

<p>
Информация о проведенном мониторинге о реализации муниципальным образованием ин. 1.2.1 условий соглашения,
    заключенного с министерством социального развития и семейной политики Краснодарского края,
    о предоставлении субвенций для осуществления отдельных государственных полномочий по состоянию на _______________
</p>
<p>
Участники муниципального образования: {{ result.mo_pers }}
</p>
<p>
Участники комиссии от учреждения: {{ result.establish_pers }}
</p>

<p>
В ходе проведения мониторинга установлено следующее:
Мониторинг проведен во исполнение _______________________________________________________________________________________________________________________________________________________________________________________________________________________
(поле для заполнения)
</p>
<p>
Согласно статье _________(поле для заполнения)__________________органы местного
    самоуправления муниципальных образований Краснодарского края наделены отдельными
    государственными полномочиями в части приобретения, строительства (в том числе участия
    в долевом строительстве) жилых помещений для включения таких жилых помещений
    в муниципальный специализированный жилищный фонд с отнесением их к жилым помещениям
    для детей-сирот и детей, оставшихся без попечения родителей, лиц из числа детей-сирот
    и детей, оставшихся без попечения родителей.
Законом Краснодарского края ________________________________________________________________________________________________________________________________________________
                                     (поле для заполнения)
</p>
распределены субвенции из краевого бюджета на 201___ год бюджету муниципального образования {{ result.mo }} в размере {{ reg_sum_with_k }},  федерального бюджета в размере {{ fed_sum_with_k }} на осуществление отдельных государственных полномочий по обеспечению жилыми помещениями детей-сирот и детей, оставшихся без попечения родителей, и лиц из их числа.
МО по результатам открытого аукциона заключен муниципальный контракт  №  {{ result.building.contract.num }} от {{ result.building.contract.date }} Застройщик {{ result.building.contract.developer }}
<p>
Соглашением между муниципальным образованием и министерством социального развития и семейной политики Краснодарского края установлен показатель результативности предоставления субвенции (далее - показатель) – {{  subvention_performance }} детей-сирот и детей, оставшихся без попечения родителей, лиц из числа детей-сирот и детей, оставшихся без попечения родителей (далее – дети-сироты), обеспеченных жилыми помещениями.
На дату проведения мониторинга выполнение показателя – 0 %, размер освоенной субвенции составляет {{ spend_amount }} что составляет {{ percent_of_sum_with_k_and_spend_amount}}% от выделенной субвенции.
Во время проведения выезда районом были представлены следующие документы:
{{ result.doc_list }}
</p>
По результатам проведения мониторинга проведена информационно-разъяснительная работа с представителями администрации района  по вопросам приобретения, строительства, в том числе участия в долевом строительстве, жилых помещений соответствующих санитарным и техническим требованиям для предоставления их детям-сиротам и рекомендовано:
{{ result.recommend }}
</p>

{% endblock %}
<link media="screen" href="{{ STATIC_URL }}css/print.css" type="text/css" rel="stylesheet" />
</body>
</html>

