{% extends "base_site.html" %}
{% load i18n %}

{% block content %}
    <h4>{{ title }}</h4>
    {% if errorlist %}
        <div class="error">
            {{ errorlist }}
        </div>
    {% else %}
        {% if form or formsets %}
            <form method="POST" action="{% url 'create-payment' %}" enctype="multipart/form-data"> {% csrf_token %}
                {% if form %}
                <br>
                <table border="0">
                    {% for field in form %}
                    <tr><td width="30%">{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                    {% endfor %}
                </table>
                {% endif %}
                <br>
                <button class="btn-info" type="submit" name="pay"> {% trans ' Сохранить ' %} </button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
