{% extends "base_site.html" %}
{% load i18n %}


{% block content %}
    <h4>{{ title }}</h4>
    {% if errorlist %}
        <div class="error">
            {{ errorlist }}
        </div>
    {% else %}
        {% if form and object %}
        <div class="row">
            <div class="span5"><a class="btn btn-info" href="{% url 'update-payment' object.id %}">
                {% trans 'редактировать' %}</a></div>
            <div class="right"><a class="btn btn-danger" href="{% url 'pre-delete-payment' object.id %}">
                {% trans 'Удалить' %}</a></div>
        </div><br />
        {% include "view_table.html" %}
        {% endif %}
    {% endif %}
{% endblock %}
