{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
    <h4>{{title}}</h4>
    {% if user.is_authenticated %}
        <a class="btn btn-small" href="{% url 'create-payment' %}">
            {% trans 'Добавить платеж' %}</a>
    {% endif %}
    {% if user.is_staff %}
        <a class="btn btn-small" href="{% url 'accounting' %}">
            {% trans 'Общая сводка' %}</a>
    {% else %}
        <br><div class="auction-table">
            <table class="table table-condensed table-striped table-hover">
                <tr>
                    <th> {% trans 'Потрачено' %}</th>
                    <th> {% trans 'Осталось' %}</th>
                    <th> {% trans 'Общая сумма субвенции' %}</th>
                    <th> {% trans 'Экономия' %}</th>
                </tr>
                <tr>
                    <td>{{accounting.spent}}</td>
                    <td>{{accounting.saved}}</td>
                    <td>{{accounting.sub_amount}}</td>
                    <td>{{accounting.economy}}</td>
                </tr>
            </table>
        </div>
    {% endif %}
    <br><br>
    {% if error %}
        <div class="error">{{ error }}</div><br>
    {% endif %}
    {% if errorlist %}
        <div class="error">{{ errorlist }}</div>
    {% else %}

        {% if accountings %}
            <div class="auction-table">
            <table class="table table-condensed table-striped table-hover">
                <tr>
                    <th> {% trans 'Наименование МО' %}</th>
                    <th> {% trans 'Потрачено' %}</th>
                    <th> {% trans 'Подтверждено платежами' %}</th>
                    <th> {% trans 'Осталось' %}</th>
                    <th> {% trans 'Общая сумма субвенции' %}</th>
                    <th> {% trans 'Экономия' %}</th>

                </tr>
                {% for obj in accountings %}
                    {% if obj.mo %}
                        <tr>
                            <td>{{obj.mo}}</td>
                            <td>{{obj.accounting.spent}}</td>
                            <td>{{obj.accounting.payment}}</td>
                            <td>{{obj.accounting.saved}}</td>
                            <td>{{obj.accounting.sub_amount}}</td>
                            <td>{{obj.accounting.economy}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            </div>
        {% endif %}

        {% if payment_list %}
            <div class="auction-table">
            <table class="table table-condensed table-striped table-hover">
                <tr>
                    <th> {% trans 'Наименование МО' %}</th>
                    <th> {% trans 'Номер платежа' %}</th>
                    <th> {% trans 'Дата платежа' %}</th>
                    <th> {% trans 'Сумма платежа' %}</th>
                </tr>
                {% for obj in payment_list %}
                    {% if obj.id %}
                        <tr>
                            <td>{{obj.contract.mo}}</td>
                            <td><a href="{% url 'change-payment' obj.id %}">{{obj.num}}</a></td>
                            <td>{{obj.date}}</td>
                            <td>{{obj.amount}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}