{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
    <h4>{{title}}</h4>
    <a class="btn btn-small" href="{% url 'create-payment' %}"> {% trans 'Добавить платеж' %}</a>
    {% if user.is_staff %}
        <div class="row">
            <div class="span2">
                <div class="row">  &nbsp; </div>
                <div class="span3">
                    <li id="accounting" class="dropdown" style="list-style: none;">
                        <a class="btn btn-info" href="#" role="button" data-toggle="dropdown">{% trans 'Общая сводка ' %}
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="{% url 'accounting' 1 %}"> {% trans 'За день' %}</a></li>
                            <li><a href="{% url 'accounting' 2 %}"> {% trans 'За месяц' %}</a></li>
                            <li><a href="{% url 'accounting' 3 %}"> {% trans 'За текущий год' %}</a></li>
                            <li><a href="{% url 'accounting' 4 %}"> {% trans 'За предыдущий год' %}</a></li>
                        </ul>
                    </li>
                </div>
            </div>
            {% if date_form %}
            <div class="right">
                <form class='inline' method="POST" action="{% url 'date-accounting' %}"> {% csrf_token %}
                    <div class="row">
                        <div class="span3">
                            &nbsp;{{ date_form.prev.errors }}
                        </div>
                        <div class="span3">
                            &nbsp;{{ date_form.dt.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            {% trans 'Начиная с' %}&nbsp; {{ date_form.prev }}
                        </div>
                        <div class="span3">
                            {% trans 'по' %}&nbsp; {{ date_form.dt }}
                        </div>
                        <div class="span2">
                            <button type="submit" class="btn btn-small btn-info" name="date_select"> {% trans ' Составить ' %} </button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if accounting %}
        <br><div class="auction-table">
            <br><table class="table table-condensed table-striped table-hover">
                <tr>
                    <th> {% trans 'Общая сумма субвенции' %}</th>
                    <th> {% trans 'Потрачено' %}</th>
                    <th> {% trans 'Осталось' %}</th>
                    <th> {% trans '% освоения субвенции' %}</th>
                    <th> {% trans 'Экономия по результатам торгов' %}</th>
                </tr>
                <tr>
                    <td>{{accounting.sub_amount}}</td>
                    <td>{{accounting.spent}}</td>
                    <td>{{accounting.saved}}</td>
                    <td>{{accounting.percent}}</td>
                    <td>{% with economy=accounting.economy %}
                            {% if economy > 0 %} {{economy}} {% else %} 0 {% endif %}
                        {% endwith %}
                    </td>
                </tr>
            </table>
        </div>
    <br><br>
    {% endif %}
    {% if error %}
        <div class="error">{{ error }}</div><br>
    {% endif %}
    {% if errorlist %}
        <div class="error">{{ errorlist }}</div>
    {% else %}

        {% if accountings %}
            <div class="auction-table">
            <table class="table table-condensed table-striped table-hover">
                {% regroup accountings by mo as accounting_list %}
                <tr>
                    <th> {% trans 'Общая сумма субвенции' %}</th>
                    <th> {% trans 'Осталось' %}</th>
                    <th> {% trans 'Потрачено' %}</th>
                    <th> {% trans 'Подтверждено платежными поручениями' %}</th>
                    <th> {% trans '% освоения субвенции' %}</th>
                    <th> {% trans 'Экономия по результатам торгов' %}</th>
                </tr>
                {% for mo in accounting_list %}
                    <tr><th colspan="6"> <strong>{{mo.grouper}}</strong></th></tr>
                    {% for obj in mo.list %}
                        <tr>
                        {% if obj.accounting %}
                            <td>{{obj.accounting.sub_amount}}</td>
                            <td>{{obj.accounting.saved}}</td>
                            <td>{{obj.accounting.spent}}</td>
                            <td>{{obj.accounting.payment}}</td>
                            <td>{{obj.accounting.percent}}</td>
                            <td>{% with economy=obj.accounting.economy %}
                                    {% if economy > 0 %} {{economy}} {% else %} 0 {% endif %}
                                {% endwith %}
                            </td>
                        {% else %}
                            <td colspan="6">{% trans 'Недостаточно данных для составления сводки' %}</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
            </div>
        {% endif %}
        <br><br>
        {% if payment_list %}
            <div class="auction-table">
            <table class="table table-condensed table-striped table-hover">
                <tr>
                    <th> {% trans 'Наименование МО' %}</th>
                    <th> {% trans 'Номер платежа' %}</th>
                    <th> {% trans 'Дата платежа' %}</th>
                    <th> {% trans 'Сумма платежа' %}</th>
                </tr>
                {% for obj in payment_list %}
                    {% if obj.id %}
                        <tr>
                            <td>{{obj.contract.mo}}</td>
                            <td><a href="{% url 'change-payment' obj.id %}">{{obj.num}}</a></td>
                            <td>{{obj.date}}</td>
                            <td>{{obj.amount}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            </div>
        {% else %}
            {% if not accountings %}
                {% trans 'Выбран ' %} {{user.customuser.get_user_date|date:"Y"}} {% trans ' год. ' %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}